Host k8s-master
    HostName 182.42.82.135
    User root
    Port 22
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host k8s-worker1
    HostName 182.42.80.121
    User root
    Port 22
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

Host k8s-worker2
    HostName 182.42.95.71
    User root
    Port 22
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null 